=basic-table
  width: 100%
  tr
    &:first-child
      border-top: 1px solid $black8
    border-bottom: 1px solid $black8
    td
      padding: 12px 6px
      &.link-cell
        padding: 0
        a
          text-decoration: none
          display: block
          padding: 12px 6px
          margin: 0
          &:hover
            background: $black10