=basic-table
  width: 100%
  tr
    &:first-child
      border-top: 1px solid $slate9
    border-bottom: 1px solid $slate9
    td
      padding: 12px 6px
      &.link-cell
        padding: 0
        a
          text-decoration: none
          display: block
          padding: 12px 6px
          margin: 0
          &:hover
            background: $slate10

.table
  +standard-radius
  padding: 10px 12px
  background: $slate10
  box-shadow: inset 0px 1px 8px -2px rgba(0,0,0,0.1)
  .tr
    border-top: 1px solid $slate9
    display: flex
    padding: 10px 8px
    color: $slate3
    justify-content: space-between
    &--center
      align-items: center
    &--right
      justify-content: flex-end
    &--no-border
      border-top: none
    &:first-child
      border-top: none
    input[type=text]
      background: rgba(255,255,255,0.6)
      padding: 8px 10px
      border: 1px solid $slate9
      &:focus
        border-color: $slate5
        outline: none

  a.tr
    +standard-radius
    text-decoration: none
    &:hover
      background: $slate5
      color: #fff
      + .tr
        border-color: $slate10