=basic-table
  width: 100%
  tr
    &:first-child
      border-top: 1px solid $slate9
    border-bottom: 1px solid $slate9
    td
      padding: 12px 6px
      &.link-cell
        padding: 0
        a
          text-decoration: none
          display: block
          padding: 12px 6px
          margin: 0
          &:hover
            background: $slate10

.table
  +small-radius
  +basic-shadow
  padding: 10px
  border: 1px solid $slate6
  .tr
    border-top: 1px solid $slate9
    display: flex
    padding: 10px 8px
    color: $slate3
    justify-content: space-between
    &--center
      align-items: center
    &--right
      justify-content: flex-end
    &--no-border
      border-top: none
    &__expand
      flex-grow: 1
    &:first-child
      border-top: none
    input[type=text]
      +small-radius
      background: rgba(255,255,255,0.6)
      padding: 8px 10px
      border: 1px solid $slate9
      &:focus
        border-color: $slate5
        outline: none
    .input-text
      padding: 7px 0

  a.tr
    text-decoration: none
    &:hover
      color: $blue0