.button
  padding: 10px 24px
  border-radius: 4px
  cursor: pointer
  display: inline-block
  text-decoration: none
  &--green
    background: $green
    color: white
    &:hover
      background: $green2
  &--center
    text-align: center