.button
  padding: 10px 24px
  +standard-radius
  +transition('background color')
  user-select: none
  cursor: pointer
  display: inline-block
  text-decoration: none
  outline: none
  border: none
  &--disabled, &:disabled
    background: $slate8
    color: $slate5
    border-color: $slate8
  &--small
    +small-radius
    font-size: $fontSize0
    padding: 4px 12px
  &--green
    background: $green
    color: white
    &:hover
      background: $green2
  &--green-outline
    border: 2px solid $green
    &:hover
      color: white
      border-color: $green2
      background: $green2
  &--blue
    background: $blue
    color: white
    &:hover
      background: $blue2
  &--blue-outline
    border: 2px solid $blue
    &:hover
      color: white
      border-color: $blue2
      background: $blue2
  &--red
    background: $red1
    color: white
    &:hover
      background: $red2
  &--center
    text-align: center
  + .button
    margin-left: 8px

  &--loading
    display: flex !important
    justify-content: center
    align-items: center
    .button__inner
      opacity: 0
    .loader
      position: absolute
    .loading0, .loading1, .loading2
      display: inline-block;
      margin: 2px;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: pulse;
      animation-timing-function: ease-in-out;
      width: 8px
      height: 8px
      background: white
      border-radius: 10px
    .loading1
      animation-delay: 0.2s
    .loading2
      animation-delay: 0.4s

@keyframes pulse
  0%
    opacity: 0.5
  50%
    opacity: 1
  100%
    opacity: 0.5