$inputPadding: 12px
=input-text($size: $fontSize1, $width: $editorWidth/2)
  font-size: $size
  padding: $inputPadding 6px
  border: none
  border-bottom: 1px solid $slate9
  width: $width
  &:focus
    outline: none
    border-bottom-color: $slate1
  &:placeholder-shown
    border-bottom-color: #ccc

=input-text-large
  +input-text($fontSize2)
  font-family: $titleFont

=input-text-shade
  background: white
  +transition(background)
  &:focus
    border-bottom-color: $slate10
    background: $slate10

=input-select($size: $fontSize1)
  font-size: $size
  margin-top: $inputPadding
  width: $editorWidth/3

=textarea($size: $fontSize1)
  font-size: $size
  margin-top: $inputPadding
  width: $editorWidth/2
  border: 1px solid $slate9
  padding: $inputPadding
  height: 120px
  &:focus
    outline: none
    border-color: $slate1