$editorWidth: 1024px
$pageEditorWidth: 720px
$navWidth: 200px
$navHiddenWidth: 70px

html, body
  height: 100%
  margin: 0

html
  box-sizing: border-box

pre
  background: $slate1
  color: white
  padding: 10px
  +standard-radius
  font-size: 14px

*, *:before, *:after
  box-sizing: inherit

#app, #react-root
  min-height: 100%
  display: flex
  flex: 1

#app
  border-top: 8px solid $red1

a
  color: $slate1

p
  line-height: 1.6

.container
  width: $editorWidth
  display: flex
  min-height: 100%
  margin: 0 auto
  header
    h1
      margin-top: 0
      margin-bottom: 30px
      a
        text-decoration: none
        &:hover
          color: $slate5
      .unbold
        font-weight: normal
    .button
      float: right

  &--in
    animation: zoomIn 0.4s cubic-bezier(0.215, 0.61, 0.355, 1)

  &__body
    flex-grow: 1

.container__body
  padding: 32px 30px 10px
  h1:first-child
    margin-top: 0

@media (max-width: 480px)
  .container
    display: block
    max-width: 100%
    &__body
      max-width: 100%
