$editorWidth: 960px
$navWidth: 240px

html, body
  height: 100%
  margin: 0

html
  box-sizing: border-box

pre
  background: $slate1
  color: white
  padding: 10px
  +standard-radius
  font-size: 14px

*, *:before, *:after
  box-sizing: inherit

#app
  border-top: 8px solid $red1
  display: flex
  height: 100%

a
  color: $slate1

p
  line-height: 1.6

.container
  display: flex
  min-height: 100%
  margin: 0 auto
  header
    h1
      margin-top: 0
      a
        text-decoration: none
        &:hover
          color: $slate5
    .button
      float: right

  &--body
    width: $editorWidth - $navWidth

.container--body
  padding: 25px 10px 10px
  h1:first-child
    margin-top: 0