.page-editor
  .settings
    padding: 14px
    background: $black10
    border: 1px solid $black8
    input[type=text]
      background: none
    margin-bottom: 24px
  .controlset .save-publish
    text-align: right
  .infoset
    display: flex
    justify-content: space-between
    align-items: center
    cursor: pointer
    flex-grow: 1
    padding: 4px 0
    margin-right: 8px
    &:hover
      background: $black9
      transition-property: 'background'
      transition-delay: 0s
      transition-timing-function: ease-out
      transition-duration: 0.1s
  .controls
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 25px
    input[type=text]
      +input-text
    input[type=text].large
      +input-text-large
    select
      +input-select
    textarea
      +textarea
      resize: vertical
    .quill
      margin-top: $inputPadding
      .ql-container
        border-color: white
        .ql-editor.ql-blank::before
          color: $black5
          font-style: normal

    .control .label
      +label
    .control-full
      width: 100%

    .control + .control
      margin-left: $inputPadding

  .theme-picker
    display: flex

  .ql-container
    height: 600px
    font-size: 16px