$editorWidth: 720px

.page-editor
  &__title
    display: flex
    justify-content: space-between
    align-items: center
    input[type=text]
      +input-text

  .edit-route
    margin-bottom: 15px

  #editor
    height: 600px
    font-size: 16px