.routes
  ul
    padding: 0
    li
      &:first-child
        border-top: 1px solid $black8
      display: flex
      justify-content: space-between
      border-bottom: 1px solid $black8
      list-style: none
      a
        flex-grow: 1
        text-decoration: none
        display: block
        padding: 12px 6px
        margin: 0
        &.list-link
          background: $black9
          font-size: $fontSize0
          padding: 12px 20px
          flex-grow: 0
        &:hover
          background: $black8