.page-editor
  .settings
    padding: 14px
    background: $black10
    border: 1px solid $black8
    input[type=text]
      background: none
    margin-bottom: 24px
  .controlset .save-publish
    text-align: right
  .infoset
    display: flex
    justify-content: space-between
    align-items: center
    cursor: pointer
    flex-grow: 1
    padding: 4px 0
    margin-right: 8px
    &:hover
      background: $black9
      transition-property: 'background'
      transition-delay: 0s
      transition-timing-function: ease-out
      transition-duration: 0.1s
  .controls
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 25px
    input[type=text]
      +input-text
    input[type=text].large
      +input-text-large
    select
      +input-select
    textarea
      +textarea
      resize: vertical
    .quill
      margin-top: $inputPadding
      .ql-container
        border-color: white
        .ql-editor.ql-blank::before
          color: $black5
          font-style: normal

    .text textarea
      width: 100%
      height: 400px

    .control .label
      +label
    .control-full
      width: 100%

    .control + .control
      margin-left: $inputPadding

  .theme-picker
    display: flex

  .ql-container
    height: 600px
    font-size: 16px
    line-height: 1.6
    h1, h2, h3
      font-family: $bodyFont
      margin: 0.5em 0
    h1
      font-size: 1.4em
    h2
      font-size: 1.2em
    h3
      font-size: 1.1em
    p
      margin-bottom: 10px

  .ql-container-full
    transition-property: 'background color'
    transition-delay: 0s
    transition-timing-function: ease-out
    transition-duration: 0.1s
    &.ql-container-full-dark
      .ql-container
        background: $black1
        border-color: $black1
        color: $black8
      .qlx-controls
        color: white
    .ql-container
      height: 100%
      top: 0
      left: 0
      right: 0
      position: fixed
      background: white

      transition-property: background
      transition-delay: 0s
      transition-timing-function: ease-out
      transition-duration: 0.1s
    .ql-editor
      margin: 0 auto
      padding: 15px
      max-width: 600px
    .qlx-controls
      position: fixed
      font-size: 36px
      top: 10px
      right: 10px
      z-index: 10
      transition-property: 'color'
      color: $black5
      span
        cursor: pointer
        transition-delay: 0s
        transition-timing-function: ease-out
        transition-duration: 0.1s
        &:hover
          color: $black8

  .qlx-maximize
    font-size: 14px
    padding: 4px 0
    cursor: pointer
    float: right
