.codemirror
  margin-top: 15px

.CodeMirror
  font-family: monaco, 'Lucida Console', monospace
  font-size: 14px
  transition: border 0.3s ease-out
  border: 1px solid $black9
  padding: $inputPadding

  &.CodeMirror-focused
    border-color: white
  &.CodeMirror-empty
    color: $black5
    font-size: 20px