.codemirror
  margin-top: 15px

.CodeMirror
  font-family: monaco, 'Lucida Console', monospace
  font-size: 14px
  +transition(background)
  +small-radius
  padding: $inputPadding
  background: $slate10

  &.CodeMirror-empty
    color: $slate5
    font-size: 20px